{% extends 'base.html.twig' %}

{% block title %}Prophac{% endblock %}
{% block illustration %} {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/form.css')}}">
<link rel="stylesheet" href="{{asset('assets/css/captcha.css')}}">
<script src="{{asset('assets/js/captcha.js')}}"></script>
{% endblock %}

{% block body %}
{# formulaire administration #}
<form method="post">
    {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
    <div class="mb-3">
        Vous êtes connecté {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
    </div>
    {% endif %}

    
    <div class="container md-container-fluid form-admin my-5">
        <form class="text-center" method="post">
            <div id="test" class="header-form-admin d-flex justify-content-center mb-4">
                <img class="py-2" src="{{asset('assets/img/form/logo-prophac.svg')}}" alt="logo-prophac-blanc"
                    width="25%">
                <h3 class="text-light py-5 ps-5">Administrateur</h3>
            </div>
            <div class="mb-3 d-flex justify-content-center">
                {# <label for="inputEmail">Email</label> #}
                <input type="email" placeholder="Login" class="form-control w-50" value="{{ last_username }}"
                    name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div class="mb-3 d-flex justify-content-center py-2">
                {# <label for="inputPassword">Password</label> #}
                <input type="password" placeholder="Password" class="form-control w-50" name="password"
                    id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
            {# <div class="mb-3 d-flex justify-content-center py-2">
                <input type="password" class="form-control w-50" id="exampleInputPassword1"
                    placeholder="Confirmer le mot de passe">
            </div> #}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div id="captcha-container" class="container-captcha py-5">
                <div id="captcha"  class="captcha unselectable">
                    <script>createCaptcha();</script>
                </div>
                <div class="restart py-2">
                    <a href="#test" onclick="createCaptcha()">Recharger le captcha</a>
                </div>
                <div class="input">
                    <input type="text" name="reCaptcha" id="reCaptcha" placeholder="Saisir le captcha" />
                </div>
                <div id="errCaptcha" class="errmsg"></div>
                <div><input class="btn-prophac btn btn-form-admin my-3 px-4" type="button" value="Valider le captcha"
                        onclick="validateCaptcha()" />
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-form-admin my-3 py-2 px-4btn-captcha" id="btn-captcha" hidden
                    onclick="secCaptcha()">Connexion</button>
            </div>
        </form>
    </div>
</form>
{% block javascripts %}
<script src="{{asset('assets/js/captcha.js')}}"></script>
{% endblock %}
{% endblock %}