{% extends 'admin/accueil.html.twig' %}

{% block title %}Admin - Prophac{% endblock %}

{% block PageTitle %} Détail de l'image' {{ image.titre }}{% endblock %}

{% block body %}
    {# {{ dump(image) }} #}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ image.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ image.titre }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td class="" ><img src="../../../uploads/{{ image.lien}}" alt="{{image.titre}}" class="img-fluid" width="30%"></td>
            </tr>
            <tr>
                <th>Legende</th>
                <td>{{ image.legende }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex">
        <a class="btn btn-success text-light ms-2 mt-2" href="{{ path('app_images_edit', {'id': image.id}) }}">Modifier l'image</a>
        {{ include('admin/images/_delete_form.html.twig') }}
    </div>
    <a class="btn btn-prophac ms-2 mt-2 mb-5" href="{{ path('app_images_index') }}">Retourner sur la liste des images</a>
{% endblock %}
