{% extends 'base.html.twig' %}

{% block title %}Annuaire INFORMATION & DIABETES CARE - Prophac
{% endblock %}


{% block illustration %}
	<div class="departement patient-container">
		<h1 class="titre-departement">PATIENT INFORMATION & DIABETES CARE</h1>
		<p class="sous-titre-departement">
			Lecteurs de glycémie, pompes à insuline, thermomètres et tensiomètres.
		</p>
		<img class="picto" src="{{asset('assets/img/Picto_Diabet_demi-tons_rgb.png')}}" alt="picto patient & diabete"/>
	</div>
{% endblock %}

{% block body %}
	{# {{ dump(collaborateurs) }} #}
	{# Liste des collaborateurs du département patients & diabete #}
	<div class="container titre-section">
		Annuaire INFORMATION & DIABETES CARE
	</div>
	<section class="container">
		<div class="row d-flex justify-content-center">
			{% for collaborateur in collaborateurs %}
				<div class="col-sm-9 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
					<div class="card card-annuaire my-3">
						<img src="../../../uploads/{{ collaborateur.photo}}" alt="photo-{{ collaborateur.nom }}-{{ collaborateur.prenom }}" class="img-fluid"/>
						<div class="card-body card-info">
							<div class="name d-flex">
								<img src="{{asset('assets/img/logo-annuaire/name.svg')}}" alt="icon-identite" class="mb-3"><p class="ms-3 d-block"></p>
								<p>
									<span>{{ collaborateur.nom }}</span>
									{{ collaborateur.prenom }}
								</p>
							</div>
							<div class="fonction d-flex">
								<img src="{{asset('assets/img/logo-annuaire/valise.svg')}}" alt="icon-valise" class="mb-3">
								<p class="ms-3">
									{% for qualifications in collaborateur.qualification %}
										{{ qualifications}}
									{% endfor %}
								</p>
							</div>
							<div class="e-mail d-flex">
								<img src="{{asset('assets/img/logo-annuaire/envelope.svg')}}" alt="icon-envelope" class="mb-3"><a class="ms-3" href="mailto:{{ collaborateur.email }}">{{ collaborateur.email }}</a>
							</div>
							<div class="telephone d-flex">
								<img src="{{asset('assets/img/logo-annuaire/telephone-fill.svg')}}" alt="icon-telephone" class="mb-3"><p class="ms-3">{{ collaborateur.numero }}</p>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
