{% extends 'admin/accueil.html.twig' %}

{% block title %}Admin - Prophac{% endblock %}

{% block PageTitle %} Détail du partenaire : <small class="h5">{{ partenaire.nom }} </small>{% endblock %}

{% block body %}
 {# {{ dump(partenaire) }} #}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partenaire.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ partenaire.nom }}</td>
            </tr>
            <tr>
                <th>Site Internet</th>
                <td>{{ partenaire.siteInternet }}</td>
            </tr>
                <th>Département</th>
                <td>
                    {% for departement in partenaire.departement %}
                        {{ departement }} <br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Logo</th>
                <td><img src="../../../uploads/{{ partenaire.logo}}" alt="logo-{{ partenaire.nom }}" class="img-fluid" width="15%"></td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex">
        {% if is_granted('ROLE_REDACTEUR') %}
            <a class="btn btn-success text-light ms-2 mt-2" href="{{ path('app_partenaires_edit', {'id': partenaire.id}) }}">Modifier ce partenaire</a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('admin/partenaires/_delete_form.html.twig') }}
        {% endif %}
    </div>
    <a class="btn btn-prophac ms-2 mt-2" href="{{ path('app_partenaires_index') }}">Retourner sur la liste des partenaires</a>    
{% endblock %}
