<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta name="description" content=""/>
		<meta name="author" content=""/>
		<title>
			{% block title %}
				Administration Prophac - Prophac
			{% endblock %}
		</title>
		{# lien css navbar #}
		<link rel="stylesheet" href="{{asset('assets/css/admin.css')}}">
		<link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet"/> 
		<link href="{{ asset('assets/css/form.css') }}" rel="stylesheet"/> 
		{% block stylesheets %}{% endblock %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<nav
			class="sb-topnav navbar navbar-expand navbar-dark">
			<!-- Navbar Brand-->
			<a class="navbar-brand ps-3" href="index.html">Admin-Prophac</a>
			<!-- Sidebar Toggle-->
			<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
				<i class="fas fa-bars"></i>
			</button>
			{# Barre de recherche #}
			<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
				<div class="input-group">
					<input class="form-control" type="text" placeholder="Rechercher" aria-label="Search for..." aria-describedby="btnNavbarSearch"/>
					<button class="btn btn-primary" id="btnNavbarSearch" type="button">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</form>
			{# Menu de l'utilisateur profil et deconnexion #}
			<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="fas fa-user fa-fw"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="#!">Profil</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{path('app_logout')}}">Deconnexion</a> 
						</li>
					</ul>
				</li>
			</ul>
		</nav>
		<div id="layoutSidenav">
			<div id="layoutSidenav_nav">
				<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
					<div class="sb-sidenav-menu">
						<div class="nav">
							<div class="sb-sidenav-menu-heading">Accueil</div>
							<a class="nav-link" href="#">
								<div class="sb-nav-link-icon">
									<i class="fas fa-tachometer-alt"></i>
								</div>
								Tableau de bord
							</a>
							{# Menu admin #}
							{# Titre de section menu admin #}
							<div class="sb-sidenav-menu-heading">Ajout et Modification</div>
							{# Titre de section du menu #}
							<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
								<div class="sb-nav-link-icon">
									<i class="fas fa-columns"></i>
								</div>
								Users
								<div class="sb-sidenav-collapse-arrow">
									<i class="fas fa-angle-down"></i>
								</div>
							</a>
							{# Liste des sous menus de la section #}
							<div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
								<nav
									class="sb-sidenav-menu-nested nav">
									{# path() utilise comme parametre le name de la Route que l'on souhaite afficher #}
									<a class="nav-link" href="">First</a>
									<a class="nav-link" href="">Users</a>
								</nav>
							</div>

							{# Menu admin numero de téléphone #}
							<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#numeroTel" aria-expanded="false" aria-controls="collapseLayouts">
								<div class="sb-nav-link-icon">
									{# <i class="fas fa-columns"></i> #}
									<img src="{{asset('assets/img/logo-crud/telephone.svg')}}" alt="icon-show" width="15px" height ="15px">
								</div>
								Numéro de téléphone
								<div class="sb-sidenav-collapse-arrow">
									<i class="fas fa-angle-down"></i>
								</div>
							</a>
							{# Liste des sous menus de la section #}
							<div class="collapse" id="numeroTel" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
								<nav
									class="sb-sidenav-menu-nested nav">
									{# path() utilise comme parametre le name de la Route que l'on souhaite afficher #}
									<a class="nav-link" href="{{path('app_telephones_index')}}">Liste des numéros</a> 
									<a class="nav-link" href="{{path('app_telephones_new')}}">Ajouter un numéro</a>
								</nav>
							</div>
							
							{# <div class="sb-sidenav-menu-heading">Addons</div>
							<a class="nav-link" href="charts.html">
								<div class="sb-nav-link-icon">
									<i class="fas fa-chart-area"></i>
								</div>
								Charts
							</a>
							<a class="nav-link" href="tables.html">
								<div class="sb-nav-link-icon">
									<i class="fas fa-table"></i>
								</div>
								Tables
							</a> #}
						</div>
					</div>
				</nav>
			</div>
			<div id="layoutSidenav_content">
				<main>
					<div class="container-fluid px-4">
						<h1 class="mt-4 text-center">
							{% block PageTitle %}
								Block PageTitle
							{% endblock %}
						</h1>
						
							<div class="card-body">
								{% for message in app.session.flashBag.get('info') %}
									<div class="alert alert-info">
										{{message}}
									</div>
								{% endfor %}

								{% for message in app.session.flashBag.get('success') %}
									<div class="alert alert-success">
										{{message}}
									</div>
								{% endfor %}

								{% for message in app.session.flashBag.get('error') %}
									<div class="alert alert-danger">
										{{message}}
									</div>
								{% endfor %}
							</div>					
						{% block body %}
						Template body
						{% endblock %}
					</div>
				</main>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
		<script src="{{ asset('assets/js/scripts.js') }}"></script>
	</body>
</html>
