{% extends 'admin/accueil.html.twig' %}

{% block title %}Admin - Prophac{% endblock %}

{% block PageTitle %} <small class="h4 text-center d-flex"> {{ collaborateur.nom }} {{ collaborateur.prenom }} </small> 
<img src="../../../uploads/{{ collaborateur.photo}}" alt="photo-{{ collaborateur.nom }}-{{ collaborateur.prenom }}" class="img-fluid" width="15%">{% endblock %}

{% block body %}
    
{# {{ dump(collaborateur) }} #}
<div class="presentation-collaborateur mb-5">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ collaborateur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ collaborateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ collaborateur.prenom }}</td>
            </tr>
            <tr>
                <th>Qualification</th>
                <td>
                    {% for qualifications in collaborateur.qualification %}
                        {{ qualifications}} <br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Département</th>
                <td>
                    {% for departement in collaborateur.departements %}
                        {{ departement }} <br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Email</th>
                <td><a href="">{{ collaborateur.email }}</a></td>
            </tr>
            <tr>
                <th>Numéro de téléphone</th>
                <td>{{ collaborateur.numero }}</td>
            </tr>
            {% if is_granted('ROLE_ADMIN') %}
            <tr>
                <th>Roles</th>
                <td>{{ collaborateur.roles ? collaborateur.roles|json_encode : '' }}</td>
            </tr>
            {% endif %}
            {# <tr>
                <th>Password</th>
                <td>{{ collaborateur.password }}</td>
            </tr> #}
            {# <tr>
                <th>Article</th>
                <td>{{ collaborateur.articles }}</td>
            </tr> #}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="d-flex">
            <a class="btn btn-success text-light ms-2 mt-2" href="{{ path('app_collaborateurs_edit', {'id': collaborateur.id}) }}">Modifier le collaborateur</a>
            <a class="btn btn-warning text-light ms-2 mt-2" href="{{ path('user.edit.password', {'id': collaborateur.id}) }}">Modifier le mot de passe du collaborateur</a>
            {{ include('admin/collaborateurs/_delete_form.html.twig') }}
        </div>
    {% endif %}
    <a class="btn btn-prophac ms-2 mt-2 mb-5" href="{{ path('app_collaborateurs_index') }}">Retourner sur la liste des collaborateurs</a>
</div>
{% endblock %}
