{% extends 'admin/accueil.html.twig' %}

{% block title %}Admin - Prophac{% endblock %}

{% block PageTitle %} Liste des produits{% endblock %}

{% block body %}
    {% if is_granted('ROLE_REDACTEUR') %}
        <a class="btn btn-prophac mb-3" href="{{ path('app_produits_new') }}">Ajouter un produit</a>
    {% endif %}
    <table class="table mb-5">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                {# <th>Description</th> #}
                <th class="text-center">Photo</th>
                {# <th>Lien</th> #}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr class="table-{% if loop.index is odd %} list-prophac{% else %} blanc {% endif %}">
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                {# <td>{{ produit.description }}</td> #}
                <td class="w-25 text-center"><img src="../../../uploads/{{ produit.photo}}" alt="logo-{{ produit.nom }}" class="img-fluid" width="30%"></td>
                {# <td>{{ produit.lien }}</td> #}
                <td>
                    <a href="{{ path('app_produits_show', {'id': produit.id}) }}"><img src="{{asset('assets/img/logo-crud/read.svg')}}" alt="icon-show" width="25px" height ="25px"></a>
                    {% if is_granted('ROLE_REDACTEUR') %}
                        <a class="ms-2" href="{{ path('app_produits_edit', {'id': produit.id}) }}"><img src="{{asset('assets/img/logo-crud/edit.svg')}}" alt="icon-edit" width="25px" height ="25px"></a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="ms-2" href="{{ path('app_produits_delete', {'id': produit.id}) }}"><img src="{{asset('assets/img/logo-crud/delete.svg')}}" alt="icon-delete" width="25px" height ="25px"></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas de produit pour le moment</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# <a class="btn btn-prophac mb-3" href="{{ path('app_produits_new') }}">Ajouter un produit</a> #}
{% endblock %}
