{% extends 'admin/accueil.html.twig' %}

{% block title %}Admin - Prophac{% endblock %}

{% block PageTitle %} Détail du produit {{ produit.nom }}{% endblock %}

{% block body %}
    {# {{ dump(produit) }} #}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ produit.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td class=""><img src="../../../uploads/{{ produit.photo}}" alt="logo-{{ produit.nom }}" class="img-fluid" width="30%" height="30%"></td>
            </tr>
            <tr>
                <th>Lien</th>
                <td><a href="{{ produit.lien }}"> {{ produit.lien }} </a> </td>
            </tr>
            <tr>
                <th>Département</th>
                    <td>
                        {% for departement in produit.departement %}
                            {{ departement }} <br>
                        {% endfor %}
                    </td>
            </tr>
            <tr>
                <th>Partenaire</th>
                <td>{{ produit.partenaire }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex">
        {% if is_granted('ROLE_REDACTEUR') %}
            <a class="btn btn-success text-light ms-2 mt-2" href="{{ path('app_produits_edit', {'id': produit.id}) }}">Modifier le produit</a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('admin/produits/_delete_form.html.twig') }}
        {% endif %}
    </div>
    <a class="btn btn-prophac ms-2 mt-2 mb-5" href="{{ path('app_produits_index') }}">Retourner sur la liste des produits</a>
{% endblock %}
