{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/article.css')}}">
{% endblock %}
{% block illustration %}
	<div class="departement recherche-container">
		<h1 class="titre-departement">Résultat de votre recherche</h1>
	</div>
{% endblock %}

{% block body %}
{# sous titre pour la section des produits #}
<div class="container sous-titre">
	Produits</div>
{# produit de la page d'accueil #}
<section class="py-4 my-5">
	<div class="container">
		<div class="row">
			{# {{ dump(produits) }} #}
			{% for produit in produits %}
			<div class="col-md-6 col-lg-4 col-sm-6 prod">
				<div class="card card-perso my-3">
					<img class="image-produit" src="../../../uploads/{{ produit.photo}}" class="img-fluid"
						alt="photo-{{ produit.nom }} " />
					<figcaption class="overlay">
						<p>
							{{ produit.description }}
						</p>
					</figcaption>
					<div class="card-body text-center">
						<a href="{{ produit.lien }} " target="_blank" class="btn btn-produit">{{ produit.nom }}</a>
					</div>
				</div>
			</div>
			{% else %}
                <h2 class ="text-center">Désolé, nous n'avons pas trouvé de produits correspondant à votre recherche.</h2>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}