{% extends 'base.html.twig' %}

{% block title %}Veterinary - Prophac{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/article.css')}}">

{% block illustration %}
    <div class="departement veto-container">
        <h1 class="titre-departement">VETERINARY</h1>
        <p class="sous-titre-departement">
            Distribution d’une gamme importante de produits vétérinaires.
        </p>
        <img class="picto" src="{{asset('assets/img/Picto_Vete_demi-tons_rgb.png')}}" alt="Picto Veterinary" />
  </div>
{% endblock %}

{% block body %}
{# futur bouton vers annuaire veto #}
<a href="{{path('app_veto.annuaire')}}">Annuaire veterinary</a>
  {# Section produit veto #}
    {# Liste des partenaire du département veterinary #}
    <div class="container titre-section">Partenaires</div>
    {# {{ dump(partenaires) }} #}
	<div class="container">
		<div class="row text-center text-lg-start">
			{% for partenaire in partenaires %}
				<div class="col-lg-3 col-md-4 col-6">
					<a href="{{ partenaire.siteInternet}}" target="_blank" class="d-block mb-4 h-100 logo-partenaire">
						<img  class="logo-partenaire" src="../../../uploads/{{ partenaire.logo}}" alt="logo-{{partenaire.nom}}">
					</a>
				</div>
        {% endfor %}
			</div>
	</div>
{% endblock %}
