{# {% extends 'admin/accueil.html.twig' %}

{% block title %}Admin - Prophac{% endblock %}

{% block PageTitle %} Résultat de votre recherche{% endblock %}

{% block body %}
{{ dump(collaborateurs) }}
{% if app.request.method == 'POST' %}
    <div>
        {% if collaborateurs | length == 0 %}
            <h4>Aucun résulat pour votre recherche.</h4>
           {% else %}
               <h3 class="mt-3">Vos résulats de recherche :</h3>
               {% for collaborateur in collaborateurs %}
                   <tr class="table-{% if loop.index is odd %} list-prophac{% else %} blanc {% endif %}">
                <td>{{ collaborateur.id }}</td>
                
                <td>{{ collaborateur.nom }}</td>
                <td>{{ collaborateur.prenom }}</td>
                <td>{{ collaborateur.email }}</td>
                <td>
                    <a href="{{ path('app_collaborateurs_show', {'id': collaborateur.id}) }}"><img src="{{asset('assets/img/logo-crud/read.svg')}}" alt="icon-show" width="25px" height ="25px"></a>
                    <a class="ms-2" href="{{ path('app_collaborateurs_edit', {'id': collaborateur.id}) }}"><img src="{{asset('assets/img/logo-crud/edit.svg')}}" alt="icon-edit" width="25px" height ="25px"></a>
                    <a class="ms-2" href="{{ path('app_collaborateurs_delete', {'id': collaborateur.id}) }}"><img src="{{asset('assets/img/logo-crud/delete.svg')}}" alt="icon-delete" width="25px" height ="25px"></a>
                </td>
            </tr>
              {% endfor %}
          {% endif %}
     </div>
{% endif %}


{% endblock %} #}