{% extends 'base.html.twig' %}
{% block title %}Historique - Prophac
{% endblock %}
{% block illustration %}
	<div class="departement historique-container">
		<h1 class="titre-departement">HISTORIQUE</h1>
	</div>
{% endblock %}
{% block stylesheets %}
			<link rel="stylesheet" href="{{asset('assets/css/article.css')}}">
		{% endblock %}
{% block body %}
{# {{ dump(article) }} #}
<section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 pt-lg-0">
                    <br />
                    <div class="float-end m-3">
                        <div class="d-flex image-article">
                            <img src="../../../uploads/{{ article.illustration}}" class="float-end imgshadow" alt="{{ article.titreIllustration}}">
                        </div>
                        <small class="legende-illustration text-end" height="25px">{{ article.legendeIllustration}}</small>
                    </div>
                    <div class="m-3">
                        {% autoescape false %} {{ article.contenu}}  {% endautoescape %}</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </section>

{% endblock %}